.fileName{
    text-align: center;
}
.LR_x2{
    text-align: center;
}
.Bicubic{
    text-align: center;
}
.HR{
    text-align: center;
}
.th{
    text-align: center;
}
.notDisplay{
    display: none;
}